body {
  padding-top: 35px;
  /*padding-bottom: 40px;*/
  overflow: hidden;
}

.ilb{
  display:inline-block;
}

.sidebar-nav {
  margin-top: 25px;
  margin-left: -50px;
  padding: 15px 15px;
}

.sidebar-nav-fixed {
  position:fixed;
  height:100px;
  width:22%;
  overflow-y:scroll;
}

.hero-unit{
  padding:0;
}

.small_Gallery { display: none; }
.gallery_small{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
  /*background: #2C3E50 !important;*/  
}

.gallery_big{
  margin: 25px 0 0px 30px !important;
  height: 600px;
}

.gallery_control{
  /*height:130px;*/
  margin: -115px 0 0 30px !important;
  /*overflow: hidden;*/
}

.gallery_big .bx-viewport{
  width:auto !important;
  height: 100% !important;
  padding: 5px 0px 0px 0px !important;
  border: none !important;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bx-wrapper .bx-viewport{
  background: #333 !important;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  box-shadow: none;
}

.gallery_control .bx-viewport{
  width:auto !important;
  height: 100% !important;
  border: none !important;
  padding-top: 3px;
  padding-bottom: 20px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -o-border-bottom-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gallery_big ul, .gallery_big li , .gallery_big li img{
  margin: auto;
}

.bx-caption{
  padding-left: 30px;
  background-color: rgba(0,0,0,0) !important;
}

.bx-wrapper .bxslider img{
  /*max-width: 80%;*/
  height: 480px;
}

.bx-wrapper a{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  padding: 0 !important;
  margin: 3px 3px !important;
}

.gallery_control .bx-controls{
  display: none;
}

.bx-pager{
  display: none;
}

.control_li{
  margin:3px !important;
  width:100px !important;
  opacity: 0.6;
  display: block;
  margin: 0 5px;
  padding: 3px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.control_li:hover,
.control_li.active {
  opacity: 1;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.thumbs{
  max-width:150px !important;
  max-height:150px !important;

}
div.thumb{
  width:100px !important;
  height:100px !important;
  overflow: hidden;
}

.bx-next{
  right:20px !important;
}

#map{ 
  height: 800px; 
  margin: 25px;
}

.btn-group{
  width: 82%;
  margin: 0 auto;
}

.map_photo{
  width: 50%;
}

.todo li, .tag{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo li.todo-hover{
  background: #16A085 url("../images/todo/todo.png") 92% center no-repeat;
  color: white; 
}
.todo li:first-child {
  border-radius: 6px 6px 0 0;
}
.todo li.todo-hover.todo-done{
  background: #16A085 url("../images/todo/done.png") 92% center no-repeat;
  color: white; 
}
.todo li.todo-active{
  background: #16A085 url("../images/todo/todo.png") 92% center no-repeat;
  color: white; 
}
.todo li.todo-active .todo-name,.todo li.todo-hover .todo-name {
  color: white; 
}
.todo li.todo-active div.todo-icon{
  color: #2ECC71;
}
/*to get rid of transistion of the png element*/
.todo li{
  background: url("../images/todo/todo.png") 92% center no-repeat;
}
.todo li.todo-done {
  background: url("../images/todo/done.png") 92% center no-repeat;
}

.open-icon {
  float: left;
  font-size: 18px;
  color: #16A085;
  padding: 11px 5px 0 0; 
}

.leaflet-container a.btn {
  color:white;
}

.brand{
  color:white !important;
  text-decoration: none;
}
.brand:hover{
  color: #1abc9c !important;
}

.popup_div{
  width: 150px;
  margin:20px 0;
}
.popup{
  display:inline;
  margin: 0 10px;
  
}
.popup_div .popup:first-child{
  margin: 0 0 0 10px;
}


@media (max-width: 767px) {
  .sidebar-nav-fixed{
    position:static;
    width:auto;
  }