body {
  color: #34495e;
  font: 14px/1.231 "Lato", sans-serif; }
/*-----index page----*/
#index {
  margin-top:100px;
  overflow-x: hidden; 
}

.p_index {
    font-family: "Lato-Light";
    /*text-align: left;*/
    line-height: 1.5;
    /*margin-top: 20px;*/
}

#footer .p_index {
  margin-top: 8px;
}

#footer {
   left:0px;
   bottom:0px;
/*   height:150px;*/
   width:100%;
   background:#999;
   padding: 25px;
   margin-top: 25px;
} 

.f_title{
  text-align: right;
}

.f_img_cont{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.collect {
  font-family: "Lato-Light";
  /*text-align: left;*/
  line-height: 1.6;
  font-size: 1.5em;
  color: #57b0a5;
  text-align: center;
}

h1.index_text{
  font-size: 32px;
}

.index_text {
  font-family: "Lato-Light";
  text-align: left;
  line-height: 1.6;
}

.index_text + .index_text {
  margin-top: 25px;
}

ul.index_text{
  margin-top: 10px !important;
  margin-bottom: 15px;
}
ul.index_text li{
  line-height: 1.6;
  font-size: 20px;
}

.org {
  font-family: "Lato-Light";
  /*text-align: left;*/
  line-height: 1.6;
  font-size: 1.5em;
  color: #ff9600;
  text-align: center;
}

.sharing {
  font-family: "Lato-Light";
  /*text-align: left;*/
  line-height: 1.6;
  font-size: 1.5em;
  color: #ed135a;
  text-align: center;
}

.index_copy {
  margin-top: 100px;
  height: 400px;
}

.white_rect {
  background-color: white;
  opacity: .7;
  padding: 30px;
  margin-top: 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.demo_rect{
  max-width: 500px;
}

.index_pic {
  background-image: url("../images/map_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height:500px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.suite_pic{
  background-image: url("../images/suite2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  height:500px;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.index_centered{
  text-align: center;
}

.index_centered:last-child{
  margin-left: 2%;
}

.pic{
  margin-top:20px;
  text-align: center;
  margin-bottom: 10px;
}
.demo_btn{
  margin-left: 0 !important;
}

.demo_img{
  margin-top:10px;
  border: 1px solid #95a5a6;
}

/*-----end index page----*/

#logo{
  height:35px;
  margin-left:5px;
}

.navbar{
  font-size: 16px;
  font-weight: 300;
}
.navbar .brand{
  padding-bottom: 0 !important;
  padding-top: 10px !important;
}

.nav{
  padding-top:2px;
}

.nav .active{
  font-weight: bold;
}

.navbar-link{
  color:#fff !important;
  text-decoration: none;
  height:100%;
}

#player {
  padding-top: 35px;
  overflow: hidden;
}


[class*=" icon-"],[class*=" fui-"],.btn{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-inverse .navbar-inner{
  background-image: -moz-linear-gradient(left, #57b0a5 25%, #ffdd00 50%, #ff9600 75%, #ed135a 95%);
  background-image: -webkit-linear-gradient(left, #57b0a5 25%, #ffdd00 50%, #ff9600 75%, #ed135a 95%);
  background-image: -o-linear-gradient(left, #57b0a5 25%, #ffdd00 50%, #ff9600 75%, #ed135a 95%);
  background-image: linear-gradient(left, #57b0a5 25%, #ffdd00 50%, #ff9600 75%, #ed135a 95%);
}
/*.nav .active{
  color:#1ABC9C !important;
}*/

#player .hero-unit{
  border: 5px solid #ECF0F1;
}

.ilb{
  display:inline-block;
}

.well.sidebar-nav-fixed{
  border:none;
}

.player_sidebar{
  margin-top: 25px;
  margin-left: -50px;
  padding: 15px 15px;
}

.sidebar-nav-fixed {
  position:fixed;
  min-height:100px;
  width:22%;
  overflow-y:scroll;
}

.hero-unit{
  padding:0;
  margin:25px;
}

.gallery_small{
  margin-left: 5px;
}
.gallery_small .bx-viewport{
  width:auto !important;
  height:100px !important;
  border: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.gallery_big{
  margin: 25px 0 0px 30px !important;
  /*min-height: 600px;*/
  height:100%;
}

.gallery_control{
  /*height:130px;*/
  /*margin: -115px auto 0 auto !important;*/
}

.gallery_big .bx-viewport{
  width:auto !important;
  height: 100% !important;
  padding: 5px 0px 0px 0px !important;
  border: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-viewport{
  background: #333 !important;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  box-shadow: none;
}

.gallery_control .bx-viewport{
  width:auto !important;
  height: 100% !important;
  border: none !important;
  padding-top: 3px;
  padding-bottom: 20px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -o-border-bottom-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: visible !important;
}

.gallery_big ul, .gallery_big li , .gallery_big li img{
  margin: auto;
}

.bx-caption{
  padding-top: 50px;
  background-color: rgba(0,0,0,0) !important;
}

#mainGallery{
  /*height:480px;*/
  height:100%;
}
#mainGallery li{
  height:100%;
}

#mainGallery img, #mainGallery iframe{
  /*height: 480px;*/
  height:100%;
}

#mainGallery iframe{
  width:100%;
}

.smallGallery img, .smallGallery iframe{
  height: 100px;
}
.smallGallery,.smallGallery li, .smallGallery li img, .smallGallery iframe{
  margin:auto !important;
}

.smallGallery{
  margin-right:0 !important;
  margin-left:0 !important;
}

.bx-wrapper a{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  padding: 0 !important;
  margin: 3px 3px !important;
}

.gallery_control .bx-controls{
  display: none;
}

.control_li{
  margin:3px !important;
  width:100px !important;
  opacity: 0.6;
  display: block;
  margin: 0 5px;
  /*padding: 3px;*/
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.control_li:hover,
.control_li.active {
  opacity: 1;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.thumbs{
  max-width:150px !important;
  max-height:150px !important;

}
div.thumb{
  width:100px !important;
  height:100px !important;
  overflow: hidden;
}

.bx-next{
  right:20px !important;
}

#control_window{
  width:600px;
  overflow: hidden;
  margin: -115px auto 0 auto;
}

.bx-wrapper .bx-loading {
  background: #333 !important;
}

.gallery_small .bx-controls-direction a{
  top:auto;
  margin-top: 5px;
}

#map{ 
  height: 800px; 
  overflow: hidden;
}

.btn-group{
  width: 82%;
  margin: 0 auto;
}

#photoControls{
  padding:0 0 0 5px;
}

#photoControls h6 + hr{
  margin:0 0 10px 0;
}

#photoControls h6{
  text-align: center;
}

#photoControls + hr{
  margin-top:10px;
}

#photoControls .span6:first-child{
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}
#photoControls .span6:last-child{
  border-left: 1px solid #eeeeee;
  margin-left: 0;
  padding-left:10px;
}

.map_photo{
  width: 50%;
}

audio{
  width:100%;
}

.mrm{
  margin-right: 0px;
}

#player .tagsinput .tag{
  background-color: #7F8C8D;
}
#player .tagsinput .tag:hover {
  background-color: #BDC3C7;
  padding: 6px 13px 6px 19px;
}

.todo li, #player .tag,#photoControls{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo{
  background-color: #BDC3C7;
  /*background-color: #7F8C8D;*/
  color: #fff;
}

.todo li.todo-done,.todo li.todo-done .todo-name  {
  /*color: #2ECC71 !important; */
  /*color: #BDC3C7 !important; */
  color: #7F8C8D; 
  
}

.todo li.todo-hover{
  background: #16A085 url("../images/todo/todo.png") 92% center no-repeat;
  color: white; 
}
.todo li:first-child {
  border-radius: 6px 6px 0 0;
}
.todo li.todo-hover.todo-done{
  background: #16A085 url("../images/todo/done.png") 92% center no-repeat;
  color: #BDC3C7; 
}
.todo li.todo-done.todo-hover .todo-name{
  color: #BDC3C7; 
}
.todo li.todo-active{
  background: #16A085 url("../images/todo/todo.png") 92% center no-repeat;
  color: white; 
}
.todo li.todo-active .todo-name,.todo li.todo-hover .todo-name {
  color: white; 
}
.todo li.todo-active div.todo-icon{
  color: #2ECC71;
}
/*to get rid of transistion of the png element*/
.todo li{
  background: url("../images/todo/todo.png") 92% center no-repeat;
}
.todo li.todo-done {
  background: url("../images/todo/done.png") 92% center no-repeat;
}

.open-icon {
  float: left;
  font-size: 18px;
  color: #16A085;
  padding: 11px 5px 0 0; 
}

.leaflet-container a.btn {
  color:white;
}

.brand{
  color:white !important;
  text-decoration: none;
}
.brand:hover{
  color: #1abc9c !important;
}

.popup_div{
  min-width: 150px;
  margin:20px 0;
}
.popup{
  display:inline;
  margin: 0 10px;
}
.popup_div .popup:first-child{
  margin: 0 0 0 10px;
}

a.popup{
  padding: 5px 20px;
  font-size: 24px;
}



/* administrative*/
.admin_menu{
  padding-top: 50px;
  overflow: hidden;
}
.tab-pane .radio{
  margin-top:15px;
}
.folders {
  /*height: 100px;*/
  /*overflow-y:scroll;*/
  margin-top: 10px;
}

.activeDrop{
  border: 1px solid #1ABC9C;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.hoverDrop{
  background-color: #1ABC9C;
  color:white;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.hoverDrop a{
  color: white;
}

.media,.audio{
  margin:0 5px;
}
.components{
  /*visibility: none;*/
  margin-top:5px;
  padding-left:10px;
}

#admin-tabs {
  overflow: visible;
}

/*adjusting margins*/

.thumbnailImage{
  margin-bottom: 15px;
}

.crop_image{
  height:200px;
  /*width:200px;*/
  border:1px solid #ccc;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}


a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #1ABC9C;
  -webkit-box-shadow: 0 1px 4px rgba(22, 160, 133, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(22, 160, 133, 0.25);
  box-shadow: 0 1px 4px rgba(22, 160, 133, 0.25);
}

.admin-open-icon {
  font-size: 18px;
  color: #16A085;
  padding:8px 5px;
}

.tabs{
  text-align: center;
}

.asset{
  position: relative;
  overflow:hidden;
}

#storyBuilder .asset{
  cursor:pointer !important;
}

.asset_data{
  height:100%;
}

.asset_data .span5, .asset_data .span12{
  margin:0;
}

.content {
  height:100%;
  position: absolute;
}

.form_slide{
  margin-left: 0 !important;
}

.helper{
  width:100px;
  height:100px;
  background-color: rgba(189,195,199,.8);
  padding: 15px 25px 35px 25px;
  text-align: center;
  border-radius: 15px;
}

.helper i{
  font-size: 50px;
}

.audio_icon i{
  font-size: 50px;
}

.audio_icon{
  height:50px;
  text-align: center;
  margin-bottom: 30px;
}

.helper_photo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: .8;
}

.placeholder{
  font-style: italic;
}

.createStory{
  margin-bottom: 5px;
}

.cb{
  padding-top:25px;
}
.cb .checkbox{
  float:right;
}

.recorderNotification{
  display:none;
}

.dk_options_inner li:first-child{
  margin-top: 10px;
}

.deletePhoto{
  margin-bottom:5px;
}
.deletePhoto:hover{
  background-color: #E74C3C !important;
}

.btn-warning{
  background-color: #ff9600 !important;
}
.btn-warning:hover,.btn-warning:focus{
  background-color: #ffaf0f !important;
}

.shareNotification,.shareNotification:hover,.shareNotification:focus{
  background-color: white;
  font-size: 14px;
  cursor: default;
  font-family: "FontAwesome";
}
.private,.private:hover,.private:focus{
  /*color:#BDC3C7;
  border: 2px solid #BDC3C7;*/
  color:#95a5a6;
  border: 2px solid #95a5a6;
}
.sharedAsset,.sharedAsset:hover,.sharedAsset:focus{
  color:#1ABC9C;
  border: 2px solid #1ABC9C;
}

.asset_latlng{
  margin-top: 10px;
}

#admin_menu .dk_options_inner{
  left:85px !important;
  width:130%;
}

.display_text{
  padding-right: 15px;
}

#admin_map{
  width: 530px;
  height: 300px;
  border: 1px solid #ccc;
}

.leaflet-control-geocoder-form{
  margin:0;
}
.leaflet-control-geocoder-form .btn{
  margin-left:5px;
}
#latlongLabel{
  margin-top:15px;
}

#shareList{
  list-style: none;
  margin-left: 0;
}

#shareList li{
  list-style: none;
}

#shareList .share_del{
  margin-left: 5px;
}

/*audio bar --------------------------------------*/
#storyBuilder{
  padding-top: 60px;
  overflow: hidden;
}
#audioBar{
  /*padding: 15px 5px 0px 5px;*/
  width:100%;
  background-color: white;
}

.tabScroll{
  height:400px;
  overflow-y: scroll;
}

.audio_helper{
  width:25px;
  height:25px;
  background-color: rgba(189,195,199,.7);
  padding: 10px 5px 5px 5px;
  text-align: center;
  border-radius: 2px;
}

.audio_helper i {
  font-size: 20px
}

rect {
  fill: none;
  pointer-events: all;
}

.smallTextStroke {
  font-family: sans-serif;
  font-size: 12px;
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
.smallText {
  font-family: sans-serif;
  font-size: 12px;
  fill: white;
}

.bigTextStroke {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  fill: none;
  stroke: black;
  stroke-width: 4px;
}
.bigText {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  fill: white;
}

.cell{
  cursor:crosshair !important;
}
.cell1 {
  fill:#7F8C8D;
}
.cell2{
  fill:#BDC3C7;
}

.wall {
  fill: #34495E;
  stroke: #2C3E50;
}

.cell.air {
  fill: #ddd;
  stroke: #999;
}

.cell.hovered {
  fill: #E74C3C;
  opacity: .7;
  cursor:crosshair !important;
}

.cell.highlighted {
  fill: #1ABC9C;
}

.big{
  height:500px;
}

line.theme{
  stroke:#fff;
  stroke-width:5px;
  stroke-linecap:round;
}
text.theme{
  fill:#000;
}

.bookmarks{
  stroke:#95A5A6;
  stroke-width:3px;
  stroke-linecap:round;
  cursor:pointer !important;
}

.location,.media{
  stroke:#34495E;
  stroke-width:3px;
  stroke-linecap:round;
  cursor:pointer !important;
}
.bookmarkIcon{
  stroke-width:0;
  fill:#95A5A6;
  font-size: 25px;
}
.pins{
  stroke-width:0;
  fill:#34495E;
  font-size: 25px;
}

.activeBar{
  fill:red;
}

text.pinOver{
  fill: #E74C3C;
}
line.pinOver{
  stroke: #E74C3C;
}

.assetHover text{
  fill:#1ABC9C;
}
.assetHover line{
  stroke:#1ABC9C;
}

.pinHovered{
  color: #1ABC9C;
}

.audioTime{
  stroke:#2980B9; 
  fill:#2980B9; 
  stroke-width:5px;
  cursor:pointer !important;
}

#audioControls{
  margin-top: 20px;
}

#playButton{
  font-size: 25px;
  height:45px;
}

.pagination{
  margin: 0;
}

.pagination ul{
  height:45px;
}
.pagination ul > li.previous > a, .pagination ul > li.previous > span, .pagination ul > li.next > a, .pagination ul > li.next > span {
  padding:14px 17px 15px 18px;
}
.pagination ul > li > a, .pagination ul > li > span {
  margin: 10px 2px 9px;
}
.pagination ul > li.active > a{
  margin: 13px 2px 12px;
}
.pagination ul{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fawe{
  font-family: "FontAwesome";
}

#storyBuilder .checkbox{
  margin-top:5px;
}

.fadedImage{
  opacity: 0.3;
}

#storyBuilder .asset{
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.imgZoom{
  font-family: "FontAwesome";
  margin-bottom: 10px;
  font-size: 18px;
}

.sideTab .span2[type="photo"],.sideTab .span2[type="place"]{
  margin-left: 10px !important;
}

.saveStory{
  margin-left: 0 !important;
}

.loc_helper{
  height:150px;
  background-color: rgba(189,195,199,.8);
  padding: 15px 25px 35px 25px;
  text-align: center;
  border-radius: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loc_helper i{
  font-size: 50px;
}

/*Projects ---------------------------------------*/

.projects_sidebar{
  margin-top: 25px;
  overflow-y:scroll;
}

.story_del{
  /*margin-left: 10%;*/
  float: right;
  color:#95A5A6;
}

.story_del:hover{
  color:#7F8C8D;
}

#storyList{
  background-color: white;
  height:400px;
  overflow-y: scroll;
}

.asset_media{
  margin-top: 30px;
}

.preview{
  margin-top: 15px;
}

.shareDiv{
  padding-left: 0;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed{
    position:static;
    width:auto;
  }