#player {
  padding-top: 35px;
  /*padding-bottom: 40px;*/
  overflow: hidden;
}

#player .hero-unit{
  border: 3px solid #333;
}

.ilb{
  display:inline-block;
}

.sidebar-nav {
  margin-top: 25px;
  margin-left: -50px;
  padding: 15px 15px;
}

.sidebar-nav-fixed {
  position:fixed;
  height:100px;
  width:22%;
  overflow-y:scroll;
}

.hero-unit{
  padding:0;
}

.gallery_small{
  margin-left: 5px;
}
.gallery_small .bx-viewport{
  width:auto !important;
  height:100px !important;
  border: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.gallery_big{
  margin: 25px 0 0px 30px !important;
  height: 600px;
}

.gallery_control{
  /*height:130px;*/
  /*margin: -115px auto 0 auto !important;*/
}

.gallery_big .bx-viewport{
  width:auto !important;
  height: 100% !important;
  padding: 5px 0px 0px 0px !important;
  border: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-viewport{
  background: #333 !important;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  box-shadow: none;
}

.gallery_control .bx-viewport{
  width:auto !important;
  height: 100% !important;
  border: none !important;
  padding-top: 3px;
  padding-bottom: 20px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -o-border-bottom-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: visible !important;
}

.gallery_big ul, .gallery_big li , .gallery_big li img{
  margin: auto;
}

.bx-caption{
  padding-top: 50px;
  background-color: rgba(0,0,0,0) !important;
}

#mainGallery img, #mainGallery iframe{
  height: 480px;
}

#mainGallery iframe{
  width:100%;
}

.smallGallery img, .smallGallery iframe{
  height: 100px;
}
.smallGallery,.smallGallery li, .smallGallery li img, .smallGallery iframe{
  margin:auto !important;
}

.smallGallery{
  margin-right:0 !important;
  margin-left:0 !important;
}

.bx-wrapper a{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  padding: 0 !important;
  margin: 3px 3px !important;
}

.gallery_control .bx-controls{
  display: none;
}

.control_li{
  margin:3px !important;
  width:100px !important;
  opacity: 0.6;
  display: block;
  margin: 0 5px;
  /*padding: 3px;*/
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.control_li:hover,
.control_li.active {
  opacity: 1;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.thumbs{
  max-width:150px !important;
  max-height:150px !important;

}
div.thumb{
  width:100px !important;
  height:100px !important;
  overflow: hidden;
}

.bx-next{
  right:20px !important;
}

#control_window{
  width:600px;
  overflow: hidden;
  margin: -115px auto 0 auto;
}

.bx-wrapper .bx-loading {
  background: #333 !important;
}

.gallery_small .bx-controls-direction a{
  top:auto;
  margin-top: 5px;
}

#map{ 
  height: 800px; 
  margin: 25px;
}

.btn-group{
  width: 82%;
  margin: 0 auto;
}

#photoControls{
  padding:0 0 0 5px;
}

#photoControls h6 + hr{
  margin:0 0 10px 0;
}

#photoControls h6{
  text-align: center;
}

#photoControls + hr{
  margin-top:10px;
}

#photoControls .span6:first-child{
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}
#photoControls .span6:last-child{
  border-left: 1px solid #eeeeee;
  margin-left: 0;
  padding-left:10px;
}

.map_photo{
  width: 50%;
}

.todo li, .tag,#photoControls{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo li.todo-hover{
  background: #16A085 url("../images/todo/todo.png") 92% center no-repeat;
  color: white; 
}
.todo li:first-child {
  border-radius: 6px 6px 0 0;
}
.todo li.todo-hover.todo-done{
  background: #16A085 url("../images/todo/done.png") 92% center no-repeat;
  color: white; 
}
.todo li.todo-active{
  background: #16A085 url("../images/todo/todo.png") 92% center no-repeat;
  color: white; 
}
.todo li.todo-active .todo-name,.todo li.todo-hover .todo-name {
  color: white; 
}
.todo li.todo-active div.todo-icon{
  color: #2ECC71;
}
/*to get rid of transistion of the png element*/
.todo li{
  background: url("../images/todo/todo.png") 92% center no-repeat;
}
.todo li.todo-done {
  background: url("../images/todo/done.png") 92% center no-repeat;
}

.open-icon {
  float: left;
  font-size: 18px;
  color: #16A085;
  padding: 11px 5px 0 0; 
}

.leaflet-container a.btn {
  color:white;
}

.brand{
  color:white !important;
  text-decoration: none;
}
.brand:hover{
  color: #1abc9c !important;
}

.popup_div{
  min-width: 150px;
  margin:20px 0;
}
.popup{
  display:inline;
  margin: 0 10px;
}
.popup_div .popup:first-child{
  margin: 0 0 0 10px;
}

a.popup{
  padding: 5px 20px;
  font-size: 24px;
}

/* administrative*/
.folders {
  /*height: 100px;*/
  /*overflow-y:scroll;*/
  margin-top: 10px;
}

.activeDrop{
  border: 1px solid #1ABC9C;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.hoverDrop{
  background-color: #1ABC9C;
  color:white;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.hoverDrop a{
  color: white;
}

.media{
  margin:0 5px;
}
.components{
  /*visibility: none;*/
  margin-top:5px;
  padding-left:10px;
}

#admin-tabs {
  overflow: visible;
}

/*adjusting margins*/
h2.no_margin {
  margin: 0px;
}

.crop_image{
  height:200px;
  /*width:200px;*/
  border:1px solid #ccc;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #1ABC9C;
  -webkit-box-shadow: 0 1px 4px rgba(22, 160, 133, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(22, 160, 133, 0.25);
  box-shadow: 0 1px 4px rgba(22, 160, 133, 0.25);
}


/*admin*/

.projects_sidebar{
  position: static;
}

.admin-open-icon {
  font-size: 18px;
  color: #16A085;
  padding:8px 5px;
}

.tabs{
  text-align: center;
}

.asset{
  position: relative;
  overflow:hidden;
}

.asset_data{
  height:100%;
}

.content {
  height:100%;
  position: absolute;
}

.form_slide{
  margin-left: 0 !important;
}

.button_bottom{
  position:absolute; 
  bottom:0;
  /*right:0;*/
}

.helper{
  width:200px;
  height:200px;
  background-color: rgba(189,195,199,.8);
  padding: 25px;
  text-align: center;
  border-radius: 15px;
}

.helper i{
  font-size: 100px;
}

.helper_photo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: .8;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed{
    position:static;
    width:auto;
  }