Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.1
Werkzeug==0.9.4
distribute==0.6.24
itsdangerous==0.23
wsgiref==0.1.2
pbkdf2==1.3
-e git://github.com/mitsuhiko/python-pbkdf2@712d4aee1a21394e6849f275576d7a876e0da056#egg=simple_pbkdf2-master
Flask-Login==0.2.9

