<html>
<head>
<style type="text/css">

label{
float: left;
width: 120px;
font-weight: bold;
}

input, textarea{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br{
clear: left;
}

</style>
</head>

<body>

<form method=POST action="{{ url_for('edit_story', id=story.id) }}">
<fieldset>
<legend>Edit Story {{ story.name }}</legend>
Story {{ story.story }}
Audio:<select name="audio" selected="{{ story.audio }}">
{% for audio_file in audio_files %}
    <option value={{ audio_file.name }}>{{ audio_file.name }}</option>
    {% endfor %}
</select>
Title: <input type="text" name="title" required value="{{ story.title }}"> 
Date:<input type="date" name="date" required value="{{ story.date }}"> 
Text:<input type="textarea" name="text" required value="{{ story.text }}">
Tags (comma separated): <input type="text" name="tags" required value="{{ story.tags }}"> 
<br>
<input type="submit" value="Create Story">
</fieldset>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}


</body>
</html>