<html>
<head>
</head>

<body>
<form method=POST enctype=multipart/form-data action="{{ url_for('photo_upload') }}">
<fieldset>
<legend>Add Photo:</legend>
Name:<input type="text" name="name" required>
Date:<input type="date" name="date" required>
Description:<input type="textarea" name="description" required>
Stories<select name="stories">
{% for story in stories %}
    <option value={{ story.id }}>{{ story.story }}</option>
    {% endfor %}
</select>
Share<input type="checkbox" name="share" value="True">
<input type="file" name="photo" required>
<br>
<input type="submit" value="Upload Photo">
</fieldset>
</form>
    
<form method=POST enctype=multipart/form-data action="{{ url_for('audio_upload') }}">
<fieldset>
<legend>Add Audio File</legend>
Name:<input type="text" name="name" required>
<input type=file name="audio" required>
<br>
<input type="submit" value="Upload Audio">
</fieldset>
</form>

    
<form method=POST enctype=multipart/form-data action="{{ url_for('add_entry') }}">
<fieldset>
<legend>Add Story</legend>
Story:<input type="text" name="story" required>
Audio:<select name="audio">
{% for audio_file in audio_files %}
    <option value={{ audio_file.name }}>{{ audio_file.name }}</option>
    {% endfor %}
</select>
Title: <input type="text" name="title" required> 
Date:<input type="date" name="date" required> 
Text:<input type="textarea" name="text" required>
Tags (comma seperated): <input type="text" name="tags" required> 
<br>
<input type="submit" value="Create Story">
</fieldset>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}

</body>
</html>